<header class='p-2 bg-dark text-white mb-auto'>
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 fs-2 text-white text-decoration-none navbar-brand">
                <svg class="bi d-block me-2" width="40" height="40" fill="currentColor">
                    <use xlink:href="img/bootstrap-icons.svg#hexagon-half"/>
                </svg>
                DEMETER
            </a>
            <a href='https://www.skylabfoodlab.com/' target='_blank' class='d-flex col-12 col-md-auto mb-md-0 text-dark text-decoration-none'>
                <img src="img/skylab-foodlab.png" class='img-fluid w-75 mx-auto' alt="DTU Foodlab logo">
            </a>
            <ul class="nav col-12 my-2 justify-content-end my-md-0 text-small col-md-3 text-end">
                <li>
                    <a href="#" class="nav-link <%= current_page === 'Guidelines' ? 'link-primary' : 'link-secondary' %>">
                        <svg class="bi d-block mx-auto mb-1" width="32" height="32" fill="currentColor">
                            <use xlink:href="img/bootstrap-icons.svg#file-text"/>
                        </svg>
                        Guidelines
                    </a>
                </li>
                <li>
                    <a href="/feedback" class="nav-link <%= current_page === 'Feedback' ? 'link-primary' : 'link-secondary' %>">
                        <svg class="bi d-block mx-auto mb-1" width="32" height="32" fill="currentColor">
                            <use xlink:href="img/bootstrap-icons.svg#chat-left-quote"/>
                        </svg>
                        Feedback
                    </a>
                </li>
                <li>
                    <a href="/dashboard" class="nav-link <%= current_page === 'Dashboard' ? 'link-primary' : 'link-secondary' %>">
                        <svg class="bi d-block mx-auto mb-1" width="32" height="32" fill="currentColor">
                            <use xlink:href="img/bootstrap-icons.svg#grid"/>
                        </svg>
                        Dashboard
                    </a>
                </li>
                <li>
                    <!--if login else logout-->
                    <% if (typeof isAuth != "undefined" && isAuth === true) { %>
                    	<a href="/logout" class="nav-link <%= current_page === 'Login' ? 'link-primary' : 'link-secondary' %>">
                        <svg class="bi d-block mx-auto mb-1" width="32" height="32" fill="currentColor">
                            <use xlink:href="img/bootstrap-icons.svg#person-circle"/>
                        </svg>
                        Logout
                        </a>
                    <% } else { %>
                    <a href="/login" class="nav-link <%= current_page === 'Login' ? 'link-primary' : 'link-secondary' %>">
                        <svg class="bi d-block mx-auto mb-1" width="32" height="32" fill="currentColor">
                            <use xlink:href="img/bootstrap-icons.svg#person-circle"/>
                        </svg>
                        Login
                    </a>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</header>