<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Dashboard | Demeter</title>
    <meta name="description" content="On this page you can manage the nutrition platform for your organization and access the features you need.">
    <%- include ("../partials/header.ejs") %>
    <link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css">
</head>

<body class='d-flex flex-column h-100 bg-white'>
    <% current_page = "Dashboard" %>
    <%- include ("../partials/nav.ejs") %>

    <noscript>
        <!-- pop up JS -->
    </noscript>

    <div class='container-fluid vh-100'>
        <div class="row h-100">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <img src="img/AP-blue.png" class="img-fluid mt-3" alt="Logo of Akshaya Patra">
                <div class="position-sticky pt-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item border-bottom">
                            <a class="nav-link active" aria-current="page" href="#">
                                <svg class="bi" width="24" height="24" fill="currentColor">
                                    <use xlink:href="img/bootstrap-icons.svg#house"/>
                                </svg>
                                Welcome
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link link-secondary" href="#">
                                <svg class="bi" width="24" height="24" fill="currentColor">
                                    <use xlink:href="img/bootstrap-icons.svg#chat-left-quote"/>
                                </svg>
                                Feedback
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link link-secondary" href="#">
                                <svg class="bi" width="24" height="24" fill="currentColor">
                                    <use xlink:href="img/bootstrap-icons.svg#file-text"/>
                                </svg>
                                Policy Guidelines
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link link-secondary" href="#">
                                <svg class="bi" width="24" height="24" fill="currentColor">
                                    <use xlink:href="img/bootstrap-icons.svg#journal-text"/>
                                </svg>
                                Recipe Planner
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link link-secondary" href="#">
                                <svg class="bi" width="24" height="24" fill="currentColor">
                                    <use xlink:href="img/bootstrap-icons.svg#server"/>
                                </svg>
                                Ingredients & Recipes
                            </a>
                        </li>

                        <li class="nav-item border-bottom">
                            <a class="nav-link link-secondary" href="/dashboard?calculator">
                                <svg class="bi" width="24" height="24" fill="currentColor">
                                    <use xlink:href="img/bootstrap-icons.svg#basket"/>
                                </svg>
                                Food Basket Calculator
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link link-secondary" href="#">
                                <svg class="bi" width="24" height="24" fill="currentColor">
                                    <use xlink:href="img/bootstrap-icons.svg#clipboard-check"/>
                                </svg>
                                Nutrition Compliance Monitor
                            </a>
                        </li>
                        <li class="nav-item border-bottom">
                            <a class="nav-link link-secondary" href="#">
                                <svg class="bi" width="24" height="24" fill="currentColor">
                                    <use xlink:href="img/bootstrap-icons.svg#truck"/>
                                </svg>
                                Last Mile Delivery Monitor
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <%- include ("../partials/dashboard/account.ejs") %>
                <%- include ("../partials/dashboard/basket_calculator.ejs") %>
                <%- include ("../partials/dashboard/ingredients_and_recipes.ejs") %>
                <%- include ("../partials/dashboard/last_mile_delivery.ejs") %>
                <%- include ("../partials/dashboard/recipe_planner.ejs") %>
            </main>
        </div>

    </div>

    <%- include ("../partials/footer.ejs") %>
</body>