<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Feedback</title>
    <meta name="description" content="Feedback page">

    <%- include ("../partials/header.ejs") %>
</head>

<body>
<% if (typeof isAuth != 'undefined' && isAuth) {
	if (typeof unreviewed != 'undefined' && 0 < unreviewed.rows.length) { %>
    <h2>Unreviewed feedback</h2>
    <ul>
        <% unreviewed.rows.forEach(function(r) { %>
            <li><%= r.time %> - <%= r.content %></li>
        <% }); %>
        </ul>
<% } else { %>
    <p>No unreviewed feedback</p>
<% }
} else { %>
    <form action="/feedback" method="post">
        <label for="location">Location</label><br>
        <select id="location" name="location" required>
            <option value="">Select State/UTs</option>
            <% if (typeof locations != 'undefined') {
                locations.rows.forEach(function(r) { %>
                    <option value="<%= r.name.toLowerCase().replace(/ /g, "_"); %>"><%= r.name %></option>
                <% });
            } %>
            <option value="mdm_tech_support">MDM Tech Support</option>
        </select>
        <br>
        <label for="content">Your feedback</label><br>
        <textarea
            id="content" name="content"
            rows="4" cols="50"
            spellcheck=true
            minlength=1 maxlength='4096'
            required></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
<% } %>

<% if (typeof errors == 'object') { %>
    <ul>
        <% errors.forEach(function(e) { %>
            <li><%= e.msg %></li>
        <% }); %>
    </ul>
<% } %>
</body>